<head th:fragment="head">
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Alejandro Valencia - Desarrollador Backend Senior</title>

     <!--=====FAB ICON=======-->
    <link rel="shortcut icon" th:href="@{/ovro-index6-full/assets/img/logo/fav-logo-icon2.png}" href="/ovro-index6-full/assets/img/logo/fav-logo-icon2.png" type="image/x-icon">

    <!--===== CSS LINK =======-->
    <link rel="stylesheet" th:href="@{/ovro-index6-full/assets/css/plugins/bootstrap.min.css}" href="/ovro-index6-full/assets/css/plugins/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/ovro-index6-full/assets/css/plugins/aos.css}" href="/ovro-index6-full/assets/css/plugins/aos.css">
    <link rel="stylesheet" th:href="@{/ovro-index6-full/assets/css/plugins/fontawesome.css}" href="/ovro-index6-full/assets/css/plugins/fontawesome.css">
    <link rel="stylesheet" th:href="@{/ovro-index6-full/assets/css/plugins/magnific-popup.css}" href="/ovro-index6-full/assets/css/plugins/magnific-popup.css">
    <link rel="stylesheet" th:href="@{/ovro-index6-full/assets/css/plugins/owlcarousel.min.css}" href="/ovro-index6-full/assets/css/plugins/owlcarousel.min.css">
    <link rel="stylesheet" th:href="@{/ovro-index6-full/assets/css/plugins/sidebar.css}" href="/ovro-index6-full/assets/css/plugins/sidebar.css">
    <link rel="stylesheet" th:href="@{/ovro-index6-full/assets/css/plugins/slick-slider.css}" href="/ovro-index6-full/assets/css/plugins/slick-slider.css">
    <link rel="stylesheet" th:href="@{/ovro-index6-full/assets/css/plugins/nice-select.css}" href="/ovro-index6-full/assets/css/plugins/nice-select.css">
    <link rel="stylesheet" th:href="@{/ovro-index6-full/assets/css/main.css(v='20260319-sidebar-1')}" href="/ovro-index6-full/assets/css/main.css?v=20260319-sidebar-1">
    <link rel="stylesheet" th:href="@{/ovro-index6-full/assets/css/cv-index6.css(v='20260318-11')}" href="/ovro-index6-full/assets/css/cv-index6.css?v=20260318-11">

    <!--=====  JS SCRIPT LINK =======-->
    <script th:src="@{/ovro-index6-full/assets/js/plugins/jquery-3-7-1.min.js}" src="/ovro-index6-full/assets/js/plugins/jquery-3-7-1.min.js"></script>
</head>
