<th:block th:fragment="content">
          <!--===== HERO AREA STARTS =======-->

          <div id="list-item-1">

            <div class="hero-heading-area heading1">

              <h1 class="cv-hero-title-primary" data-aos="fade-left" data-aos-duration="900">Senior Backend Developer</h1>

              <div class="space24"></div>

              <h1 class="head cv-hero-title-secondary" data-aos="fade-left" data-aos-duration="1000"><span class="cv-hero-title-secondary-main">Crafting Scalable</span><br class="cv-hero-title-mobile-break" aria-hidden="true"><span class="cv-hero-title-secondary-accent">Java & Python Solutions</span></h1>

              <div class="space32"></div>
              <div class="space16"></div>

              <p data-aos="fade-left" data-aos-duration="1100">
                More than 7 years of experience building robust systems with Java and Python,
                focused on clean architecture, APIs, integrations, and scalable
                cloud-ready solutions; Implementing enterprise environments with Docker,
                Kubernates or Event Streaming Managers. I've led end-to-end backend initiatives designing
                secure and high-availability solutions, Using the best technologies as a
                Terraform, CI/CD with Jenkins, cloud services on AWS, Azure or GCP, 
                and large-scale migration tools.
              </p>

              <div class="arrow" data-aos="fade-left" data-aos-duration="1200">

              </div>

              <div class="space32"></div>

              <div class="main-btn-area" data-aos="fade-up" data-aos-duration="1200">

                <a href="https://www.linkedin.com/in/alejandro-valencia-rivera" target="_blank" rel="noopener noreferrer">Lets Work Together <span><i class="fa-solid fa-arrow-right"></i></span></a>

              </div>

            </div>

          </div>

          <!--===== HERO AREA ENDS =======-->

          <div class="space50"></div>
</th:block>
