<th:block th:fragment="content">
<!--===== JS SCRIPT LINK =======-->

<script th:src="@{/ovro-index6-full/assets/js/plugins/bootstrap.min.js}" src="/ovro-index6-full/assets/js/plugins/bootstrap.min.js"></script>

<script th:src="@{/ovro-index6-full/assets/js/plugins/fontawesome.js}" src="/ovro-index6-full/assets/js/plugins/fontawesome.js"></script>

<script th:src="@{/ovro-index6-full/assets/js/plugins/aos.js}" src="/ovro-index6-full/assets/js/plugins/aos.js"></script>

<script th:src="@{/ovro-index6-full/assets/js/plugins/counter.js}" src="/ovro-index6-full/assets/js/plugins/counter.js"></script>

<script th:src="@{/ovro-index6-full/assets/js/plugins/sidebar.js}" src="/ovro-index6-full/assets/js/plugins/sidebar.js"></script>

<script th:src="@{/ovro-index6-full/assets/js/plugins/magnific-popup.js}" src="/ovro-index6-full/assets/js/plugins/magnific-popup.js"></script>

<script th:src="@{/ovro-index6-full/assets/js/plugins/owlcarousel.min.js}" src="/ovro-index6-full/assets/js/plugins/owlcarousel.min.js"></script>

<script th:src="@{/ovro-index6-full/assets/js/plugins/nice-select.js}" src="/ovro-index6-full/assets/js/plugins/nice-select.js"></script>

<script th:src="@{/ovro-index6-full/assets/js/plugins/waypoints.js}" src="/ovro-index6-full/assets/js/plugins/waypoints.js"></script>

<script th:src="@{/ovro-index6-full/assets/js/plugins/slick-slider.js}" src="/ovro-index6-full/assets/js/plugins/slick-slider.js"></script>

<script th:src="@{/ovro-index6-full/assets/js/plugins/gsap.min.js}" src="/ovro-index6-full/assets/js/plugins/gsap.min.js"></script>

<script th:src="@{/ovro-index6-full/assets/js/plugins/ScrollTrigger.min.js}" src="/ovro-index6-full/assets/js/plugins/ScrollTrigger.min.js"></script>

<script th:src="@{/ovro-index6-full/assets/js/plugins/Splitetext.js}" src="/ovro-index6-full/assets/js/plugins/Splitetext.js"></script>

<script th:src="@{/ovro-index6-full/assets/js/plugins/SmoothScroll.js}" src="/ovro-index6-full/assets/js/plugins/SmoothScroll.js"></script>

<script th:src="@{/ovro-index6-full/assets/js/plugins/parallax.js}" src="/ovro-index6-full/assets/js/plugins/parallax.js"></script>

<script th:src="@{/ovro-index6-full/assets/js/main.js(v='20260318-7')}" src="/ovro-index6-full/assets/js/main.js?v=20260318-7"></script>
</th:block>
