<th:block th:fragment="content">
 <!--===== SIDEBAR STARTS=======-->

<div class="header-site-icon">

  <div class="slide-bar slide-bar1">

    <div class="sidebar-info">

         <div class="sidebar-logo">

              <a th:href="@{/portfolio/alejandro(lang='es')}" href="/portfolio/alejandro?lang=es">

                   <img th:src="@{/ovro-index6-full/assets/img/logo/logo4.png}" src="/ovro-index6-full/assets/img/logo/logo4.png" alt="logo">

              </a>

              <div class="close-mobile-menu">

                   <a><i class="fa-solid fa-xmark"></i></a>

              </div>

         </div>

         <div class="sidebar-content">

              <ul>

                   <li><a href="#list-item-1">Carta de presentación</a></li>

                   <li><a href="#list-item-2">Perfil profesional</a></li>

                   <li><a href="#list-item-4">Mis habilidades</a></li>

                   <li><a href="#list-item-5">Proyectos personales</a></li>

                   <li><a href="#list-item-8">Contáctame</a></li>

              </ul>

         </div>

         <div class="space32"></div>

         <div class="space16"></div>

         <div class="social-link-area">

              <h3 class="sidebar-heading">Redes sociales</h3>

              <ul>

                   <li>

                        <a href="https://www.linkedin.com/in/alejandro-valencia-rivera/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-linkedin-in"></i></a>

                   </li>

              </ul>

         </div>

         <div class="space40"></div>

    </div>

  </div>

</div>

<!--===== SIDEBAR ENDS STARTS=======-->
</th:block>

