<th:block th:fragment="content">
          <div id="list-item-4">

            <!--===== SKILL AREA STARTS =======-->

            <div class="skill-section-area">

              <div class="container">

                <div class="row">

                  <div class="col-gl-12">

                    <div class="skill-header heading1">
                      
                      <div class="space24"></div>

                      <h5 data-aos="fade-left" data-aos-duration="800"><img th:src="@{/ovro-index6-full/assets/img/icons/logo-orange32.png}" src="/ovro-index6-full/assets/img/icons/logo-orange32.png" alt="">My Skills and technologies</h5>

                      <div class="space24"></div>

                      <h2 data-aos="fade-left" data-aos-duration="1000">The Tools Behind </h2>

                      <div class="space24"></div>

                      <h2 class="head" data-aos="fade-left" data-aos-duration="1100">Exceptional <span>Software</span></h2>

                    </div>

                    <div class="space80"></div>

                    <div id="cv-skill-grid" class="row"></div>

                    <div class="space32"></div>

                  </div>

                </div>

              </div>

            </div>

            <!--===== SKILL AREA ENDS =======-->

          </div>
</th:block>
