<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{cv/index6-fragments/head :: head}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alejandro Valencia - Senior Backend Developer</title>
</head>
<body class="body1">
    <th:block th:replace="~{cv/index6-fragments/preloader-progress :: content}"></th:block>
    <th:block th:replace="~{cv/index6-fragments/sidebar :: content}"></th:block>
    <th:block th:replace="~{cv/index6-fragments/header :: content}"></th:block>
    <th:block th:replace="~{cv/index6-fragments/main-area :: content}"></th:block>
    <th:block th:replace="~{cv/index6-fragments/contact-modal :: content}"></th:block>
    <th:block th:replace="~{cv/index6-fragments/scripts :: content}"></th:block>
</body>
</html>
