<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{cv/index6-fragments/head-es :: head}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alejandro Valencia - Desarrollador Backend Senior</title>
</head>
<body class="body1">
    <th:block th:replace="~{cv/index6-fragments/preloader-progress :: content}"></th:block>
    <th:block th:replace="~{cv/index6-fragments/sidebar-es :: content}"></th:block>
    <th:block th:replace="~{cv/index6-fragments/header-es :: content}"></th:block>
    <th:block th:replace="~{cv/index6-fragments/main-area-es :: content}"></th:block>
    <th:block th:replace="~{cv/index6-fragments/contact-modal-es :: content}"></th:block>
    <th:block th:replace="~{cv/index6-fragments/scripts-es :: content}"></th:block>
</body>
</html>
