<article class="content about white-bg" id="chapterabout" th:fragment="content">
    <div class="inner">
        <h2>About me</h2>
        <div class="title-divider"></div>
        <div class="about-con">
            <ul>
                <li>Name: Alejandro Valencia</li>
                <li>Email: <a href="mailto:alejo.valenciarivera@gmail.com">alejo.valenciarivera@gmail.com</a></li>
                <li>Nationality: Cali, Colombia</li>
            </ul>
            <p>
                I'm a Photographer based in Cali, Colombia. My passion is to capture 
                the essence of everyday life through my lens. 
                I'm specialized on Portrait, Events and Product Photography.
                Reach me out if you want to work together or just say hi!
                <br />
            </p>
        </div>
    </div>
</article>
