<head th:fragment="head">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1" />
    <meta name="robots" content="INDEX, FOLLOW" />
    <meta http-equiv="Cache-Control" content="no-store, no-cache, must-revalidate, max-age=0" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>Soulframe Studio</title>
    <link rel="shortcut icon" href="favicon.ico" th:href="@{|/photography/favicon.ico?v=${assetVersion}|}" />

    <!-- Google Font-->
    <link href="css/google-fonts.css" rel="stylesheet" type="text/css" th:href="@{|/photography/css/google-fonts.css?v=${assetVersion}|}" />
    <!-- Design Style -->
    <link rel="stylesheet" type="text/css" href="css/scroll.css" th:href="@{|/photography/css/scroll.css?v=${assetVersion}|}" />
    <link rel="stylesheet" type="text/css" href="css/style.css" th:href="@{|/photography/css/style.css?v=${assetVersion}|}" />
    <!-- Icon -->
    <link rel="stylesheet" type="text/css" href="css/font-awesome.css" th:href="@{|/photography/css/font-awesome.css?v=${assetVersion}|}" />
    <!-- Portfolio Thumbnail / Slider -->
    <link rel="stylesheet" type="text/css" href="css/portfolio.css" th:href="@{|/photography/css/portfolio.css?v=${assetVersion}|}" />
    <link rel="stylesheet" type="text/css" href="css/carousel.css" th:href="@{|/photography/css/carousel.css?v=${assetVersion}|}" />
    <!-- Responsive -->
    <link rel="stylesheet" type="text/css" href="css/responsive.css" th:href="@{|/photography/css/responsive.css?v=${assetVersion}|}" />
    <link rel="stylesheet" type="text/css" href="css/photography-custom.css" th:href="@{|/photography/css/photography-custom.css?v=${assetVersion}|}" />
    <!-- Pie Chart / Skills -->
    <script type="text/javascript" src="js/jquery-2.0.3.min.js" th:src="@{|/photography/js/jquery-2.0.3.min.js?v=${assetVersion}|}"></script>
    <!-- Send Email -->
    <script type="text/javascript" src="js/sendemail.js" th:src="@{|/photography/js/sendemail.js?v=${assetVersion}|}"></script>
    <!-- Progressbar / Skills-->
    <script type="text/javascript" src="js/progressbar.js" th:src="@{|/photography/js/progressbar.js?v=${assetVersion}|}"></script>
    <!-- Portfolio-->
    <script src="js/modernizr.custom.js" th:src="@{|/photography/js/modernizr.custom.js?v=${assetVersion}|}"></script>
</head>
