<aside class="menu" id="menu" th:fragment="menu">
    <div class="logo">
        <img src="images/logo.png" width="140" height="140" alt="" />
        <span>Soulframe</span>
    </div>
    <a href="#menu1" class="menu-link"></a>
    <nav id="menu1" role="navigation">
        <a href="#chapterintroduction"><span id="link_introduction" class="active">Hi!</span></a>
        <a href="#chapterabout"><span id="link_about">About me</span></a>
        <a href="#chapterportfolio"><span id="link_portfolio">Portfolio</span></a>
        <a href="#chaptercontact"><span id="link_contact">Contact me</span></a>
    </nav>
    <div class="copyright">&copy; Soulframe Studio<br />All Rights Reserved.<br />©Copyright 2026</div>
</aside>
