<aside class="menu" id="menu" th:fragment="menu">
    <div class="logo">
        <img src="images/logo.png" width="140" height="140" alt="" />
        <span>Soulframe</span>
    </div>
    <a href="#menu1" class="menu-link"></a>
    <nav id="menu1" role="navigation">
        <a href="#chapterintroduction"><span id="link_introduction" class="active">Hi!</span></a>
        <a href="#chapterabout"><span id="link_about">About me</span></a>
        <a href="#chapterportfolio"><span id="link_portfolio">Portfolio</span></a>
        <a href="#chaptercontact"><span id="link_contact">Contact me</span></a>
        <div class="photo-language-switch" role="group" aria-label="Select language">
            <a class="photo-language-option" href="/photography/?lang=es">
                <img src="/ovro-index6-full/assets/img/flags/colombia-circle.svg" alt="Colombia flag" />
                <span>ES</span>
            </a>
            <a class="photo-language-option is-active" href="/photography/?lang=en">
                <img src="/ovro-index6-full/assets/img/flags/us-circle.svg" alt="United States flag" />
                <span>EN</span>
            </a>
        </div>
    </nav>
    <div class="copyright">&copy; Soulframe Studio<br />All Rights Reserved.<br />Copyright 2026</div>
</aside>
