<div class="content-gallery-nav" th:fragment="content" aria-label="Section navigation">
    <button class="content-nav-zone content-nav-prev" type="button" aria-label="Previous section">
        <span class="content-nav-visual" aria-hidden="true">
            <i class="fa fa-chevron-left"></i>
        </span>
    </button>
    <button class="content-nav-zone content-nav-next" type="button" aria-label="Next section">
        <span class="content-nav-visual" aria-hidden="true">
            <i class="fa fa-chevron-right"></i>
        </span>
    </button>
</div>
