<div class="content-gallery-nav" th:fragment="content" aria-label="Navegaci&oacute;n de secciones">
    <button class="content-nav-zone content-nav-prev" type="button" aria-label="Secci&oacute;n anterior">
        <span class="content-nav-visual" aria-hidden="true">
            <i class="fa fa-chevron-left"></i>
        </span>
    </button>
    <button class="content-nav-zone content-nav-next" type="button" aria-label="Siguiente secci&oacute;n">
        <span class="content-nav-visual" aria-hidden="true">
            <i class="fa fa-chevron-right"></i>
        </span>
    </button>
</div>
