<article class="content introduction-end" id="chapterthankyou" th:fragment="content">
    <div class="inner">
        <div class="introduction-end-con">
            <h3><strong>Alejandro Valencia</strong></h3>
            <div id="rotate" class="rotate">
                <div><span>Fot&oacute;grafo</span></div>
                <div><span>Retratos</span></div>
                <div><span>Productos</span></div>
                <div><span>Soulframe Studio</span></div>
            </div>
        </div>
    </div>
</article>
